<div id="todos-wrapper">
  <ul id="todos">
    <% todos.each do |todo| %>
      <%= erb(:'todos/item', locals: { todo: todo }) %>
    <% end %>
  </ul>
  <button hx-post="/todos" hx-target="#todos" hx-swap="beforeend">Add Todo</button>
</div>